body, html{
background-color: #EFEFEF;
}
.sign_in{

    position: absolute;
    width: 320px;
    top:11%;
    left:40%;
    height: 300px;
    padding: 20px;


  }

  .sign_in_logo{
    position: absolute;
    width: 300px;
    top:5%;

    background-color:rgb(255, 255, 255);


  }
